<nav style="float:right;
            clear: both;">
    <ul class="pagination">
      <li class="page-item">
        <% if(result.page > 2){ %>
            <a class="page-link" href="/articles/page/<%= result.page - 1 %> " aria-label="Anterior">
                Anterior
              </a>
        <% } else if (result.page == 2 ) { %>
            <a class="page-link" href="/" aria-label="Anterior">
                Anterior
              </a>
        <% } %>
       
      </li>
      <li class="page-item">
        <% if (result.next) { %>
        <a class="page-link" href="/articles/page/<%= result.page + 1 %>" aria-label="Próximo">
            Próximo
            </a>
        <% } %>
      </li>
    </ul>

</nav>
<br><br>
<hr>